<button class="btn btn-primary m-3 position-absolute start-0 top-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
  Options
</button>
<div class="offcanvas offcanvas-start show" data-bs-backdrop="false" tabindex="-1" id="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      DaSimple Logo Preview
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body" [formGroup]="inputForm">
    <div class="mb-3 row">
      <h5 class="col mb-0">
        "D" letter:
      </h5>
      <div class="col-auto form-check">
        <input class="form-check-input" type="checkbox" value="" id="dShowMask" formControlName="dShowMask">
        <label class="form-check-label" for="dShowMask">
          Show mask
        </label>
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Size</span>
      <input type="number" min="4" formControlName="dSize" class="form-control" placeholder="128">
      <span class="input-group-text">px</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Stroke size</span>
      <input type="number" min="1" formControlName="dStroke" class="form-control" placeholder="12">
      <span class="input-group-text">px</span>
    </div>
    <div class="mb-3 row">
      <h5 class="col mb-0">
        "A" letter:
      </h5>
      <div class="col-auto form-check">
        <input class="form-check-input" type="checkbox" value="" id="aShowMask" formControlName="aShowMask">
        <label class="form-check-label" for="aShowMask">
          Show mask
        </label>
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Size</span>
      <input type="number" min="4" formControlName="aSize" class="form-control" placeholder="128">
      <span class="input-group-text">px</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Stroke size</span>
      <input type="number" min="1" formControlName="aStroke" class="form-control" placeholder="12">
      <span class="input-group-text">px</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Offset</span>
      <input type="number" min="0" max="100" formControlName="aOffset" class="form-control" placeholder="64">
      <span class="input-group-text">%</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Bar position</span>
      <input type="number" min="0" max="100" formControlName="aPercentage" class="form-control" placeholder="50">
      <span class="input-group-text">%</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Distance</span>
      <input readonly [value]="offsetOfA.toFixed(2)" class="form-control">
      <span class="input-group-text">px</span>
      <input readonly [value]="(offsetOfA / sizeOfCanvas * 100).toFixed(2)" class="form-control">
      <span class="input-group-text">%</span>
    </div>
    <div class="mb-3 row">
      <h5 class="col mb-0">
        Canvas:
      </h5>
      <div class="col-auto form-check">
        <input class="form-check-input" type="checkbox" value="" id="showGeometry" formControlName="showGeometry">
        <label class="form-check-label" for="showGeometry">
          Show geometry
        </label>
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Size</span>
      <input readonly [value]="sizeOfCanvas.toFixed(2)" class="form-control">
      <span class="input-group-text">px</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Center of mass</span>
      <input readonly [value]="centerOfMass.toFixed(2)" class="form-control">
      <span class="input-group-text">px</span>
      <input readonly [value]="(centerOfMass / sizeOfCanvas * 100).toFixed(2)" class="form-control">
      <span class="input-group-text">%</span>
    </div>
  </div>
</div>
<div id="canvas" class="position-absolute start-50 top-50 translate-middle" [class.logo-with-outline]="showGeometry" style.width="{{sizeOfCanvas}}px" style.height="{{sizeOfCanvas}}px">
  <div id="common">
    <div *ngIf="showGeometry" class="logo-mass-center" style.top="{{centerOfMass}}px" style.left="{{centerOfMass}}px"></div>
  </div>
  <div id="letter-d" style.--size="{{sizeOfD}}px" style.--stroke="{{strokeOfD}}px">
    <div [class.logo-mask]="showMaskOfD" [class.logo-figure]="!showMaskOfD"></div>
    <div *ngIf="showGeometry" class="logo-mass-center"></div>
  </div>
  <div id="letter-a" style.--size="{{sizeOfA}}px" style.--stroke="{{strokeOfA}}px" style.--offset="{{offsetOfA}}px">
    <div [class.logo-mask]="showMaskOfA" [class.logo-figure]="!showMaskOfA" style.--bar-width="{{percentageOfA * maxBarWidthOfA}}px" style.--bar-offset="{{percentageOfA * maxBarOffsetOfA}}px" style.--border="{{heightOfA}}px"></div>
    <div *ngIf="showGeometry" class="logo-mass-center"></div>
  </div>
</div>
